<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Banking</a>
            </div>
      
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a routerLink="/account-list">Accounts</a></li>
                <li><a routerLink="/customer-list">Applied Accounts</a></li>
                <li><a routerLink="/transaction-list">Tranactions</a></li>
                <!-- <li><a routerLink="/acc_statement-list">Account Statement Entries</a></li> -->
                <li><a routerLink="/loan-list">Applied Loans</a></li>
                <li><a routerLink="/approvedLoan-list">Bank Approved Loans</a></li>
                <li><a routerLink="/employee-list">Employees</a></li>
                <li><a routerLink="/bankservice-list">Banking Services</a></li>
                </ul>
            </div>
        </div>
      </nav>

<h1>Account List</h1>

<div>
    <button (click)="onAddAccount()" style="margin: 10px" class="btn btn-primary pull-right" >Add Account</button>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Account No</th>
            <th>Acc Holder Name</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th>Opening Date</th>
            <th>Account Status</th>
            <th>Loan Type</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{account.sr_no}}</td>
            <td>{{account.acc_no}}</td>
            <td>{{account.acc_holder_name}}</td>
            <td>{{account.acc_type}}</td>
            <td>{{account.acc_balance}}</td>
            <td>{{account.acc_open_date}}</td>
            <td>{{account.acc_status}}</td>
            <td>{{account.loan_type}}</td>
            <td>
                <button (click)="onDelete(account.acc_no)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                <a routerLink="/account-update/{{account.acc_no}} " style="margin: 10px" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <button [routerLink]="['/employee-login']" routerLinkActive="router-link-active"  (click) =  'onLogOut()' class="btn btn-danger pull-right">Log Out</button>
</div>