<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Banking</a>
        </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a routerLink="/account-list">Accounts</a></li>
            <li><a routerLink="/customer-list">Account Holder Details</a></li>
            <li><a routerLink="/transaction-list">Tranactions</a></li>
            <li><a routerLink="/acc_statement-list">Account Statement Entries</a></li>
            <li><a routerLink="/loan-list">Loans</a></li>
            <li><a routerLink="/employee-list">Employees</a></li>
            <li><a routerLink="/bankservice-list">Banking Services</a></li>
  
          </ul>
        </div>
    </div>
  </nav>

<h1>Add Loan Account</h1>

<div class="form action=">
    <div class="form-group">
        <label for="">Account No</label>
        <input [(ngModel)]="acc_no" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Loan Account No</label>
        <input [(ngModel)]="loan_acc_no" type="text" class="form-control">
    </div>
    <div class="form-group">
            <label for="">Loan Amount</label>
            <input [(ngModel)]="loan_amount" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Loan Type</label>
        <select [(ngModel)]="type_id" class="form-control">
            <option *ngFor="let loan_type of types" [value]="loan_type.type_id">{{loan_type.loan_type}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Loan Status</label>
        <select [(ngModel)]="status_id" class="form-control">
            <option *ngFor="let loan_status of status" [value]="loan_status.status_id">{{loan_status.loan_status}}</option>
        </select>
    </div>
    <div class="form-group">
        <button (click)="onAdd()" class="btn btn-primary">Add</button>
        <button (click)="onCancel()"  style="margin: 10px" class="btn btn-danger">Cancel</button>
    </div>
</div>