<h1>Acc_status List</h1>

<div>
    <a style="margin: 10px" class="btn btn-primary pull-right" >Add Acc_status</a>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Status Id</th>
            <th>Account Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let acc_status of acc_statuses">
            <td>{{acc_status.status_id}}</td>
            <td>{{acc_status.acc_status}}</td>
          
            <td>
                <button (click)="onDelete(acc_status.status_id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                <button style="margin: 10px" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></button>
            </td>
        </tr>
    </tbody>
</table>