<div class="comtainer">
    <h1>Account info</h1>
</div>


<div class="row" style="margin-top: 30px">
    <div class="col-md-12">
        <div class="container">
            <h3><strong>Account No :</strong>{{acc_no}}</h3>
            <h3><strong>Account Holder Name :</strong>{{name}}</h3>
            <h3><strong>Account Type :</strong>{{type_id}}</h3>
            <h3><strong>Account Balance :</strong>{{bal}}</h3>
            <h3><strong>Account Open Date :</strong>{{acc_open_date}}</h3>
            <h3><strong>Account Status :</strong>{{status_id}}</h3>
            <h3><strong>Loan Type :</strong>{{loan_type}}</h3>
        </div>
    </div>
</div>